@media (min-width: 768px){
    .border-md-right {
        border-right: 1px solid white;
    }
    .borderX {
        border-right: 1px solid white;
        border-left: 1px solid white;
    }
}
.bgNavBar {
    background-color: #e51b23;
}
#taskbar {
    z-index: 9999;
}
.row-full {
    width: 100vw;
    margin-left: calc(-50vw + 49%);
}